*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::after{
    box-sizing: border-box;
}
::before{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fee433;
    
  }
  .wrapper{
    width: 100%;
    height: 218px;
    position: relative;
  }
  .nose{
      position: absolute;
      border: 11px solid transparent;
      border-top-color: black;
    
      /*width: 22px;
      height: 22px;*/
      border-radius: 50%;
      left: 50%;
      top: 28px;
      margin-left: -11px;
  }
  .eye{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #2e2e2e;
    position: absolute;
    border: 2px solid black;
    
  }
  .eye.left{
    right: 50%;
    margin-right: 90px;
  }
  .eye.left::after{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: white;
      position: absolute;
      left: 5px;
      top: 3px;
  }
  .eye.right{
    left: 50%;
    margin-left: 90px;
  }
  .eye.right::after{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 5px;
    top: 3px;
  }
  .face{
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background: #fc0d1c;
      position: absolute;
      border: 2px solid black;
  }
  .face.left{
      right: 50%;
      top: 85px;
      margin-right: 116px;
  }
  .face.right{
    left: 50%;
    top: 85px;
    margin-left: 116px;
}
.upperLip{
    position: absolute;
    height: 20px;
    width: 54px;
    border: 2px solid black;
    top: 52px;
    background: #fee433;
    
}
.upperLip.left{
    border-bottom-left-radius: 40px 20px;
    border-top: none;
    border-right: none;
    right: 50%;
    transform: rotate(-20deg);
}
.upperLip.right{
    border-bottom-right-radius: 40px 20px;
    border-top: none;
    border-left: none;
    left: 50%;
    transform: rotate(20deg);
}
.lowerLip-wrapper{
    width: 300px;
    height: 110px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -150px;
    overflow: hidden;
    z-index: -1;
}
.lowerLip{
    position: absolute;
    height: 2000px;
    width: 200px;
    border-radius: 100px/1000px;
    border: 2px solid black;
    bottom: 0;
    background: #990513;
    margin-left: 50px;
    overflow: hidden;
}
.lowerLip::after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100px;
    height: 100px;
    background: #fc4a62;
    margin-left: 50px;
    border-radius: 50%;
    z-index: 1;
}